@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.bodyCustomization {

    background-image: url('images/back1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-top: 12px;
    z-index: 999;
    position: fixed;
    width: 100%;
    padding: 10px 200px;

}

header .headerT {

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 1.7em;
    color: #ffffff;
    transition: 0.8s ease;

}

header .headerT:hover {

    text-decoration: none;
    font-weight: 600;
    font-size: 1.7em;
    color: #00ffff;
    cursor: pointer;

}

.navigation {

    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 10px;

}

.navigation ul li {

    padding-right: 2em;
    font-size: medium;

}

.navigation ul li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0ba3a3;
    padding: 0.4em;
    font-weight: 600;
    font-size: 1em;
    border-radius: 0.6em;
    transition: 0.8s ease;


}

.navigation ul li a:hover {

    color: #00ffff;

}


.about {

    display: flex;
    align-items: center;
    padding: 400px 200px;
    min-height: 100vh;

}

.aboutT {

    color: #00ffff;
    font-weight: 700;
    font-size: x-large;

}

.aboutI {

    color: #ffffff;
    font-weight: 600;
    padding: 1em 0 1em 0;

}

.aboutP {

    margin-bottom: 1em;
    padding: 15px 10px 15px 30px;
    font-weight: 700;
    text-decoration: none;
    width: 40%;
    cursor: pointer;
    background-color: #00ffff;
    border-radius: 15px;
    transition: 0.7s ease;

}

.aboutP:hover{

    background-color: #0ba3a3;
    transform: scale(1.1);

}

.aboutP a{

    font-weight: 700;
    text-decoration: none;
    color: #ffffff;

}

.aboutSI {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1.6em;

}

.aboutSI a{

    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.7em;
    padding-right: 30px;

}

.projects {


    display: flex;
    justify-content: center;
    align-items: center;
    

}

.pT {

    text-align: center;
    margin-bottom: 30px;
    color: #00ffff;

}

.pContent {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70em;

}

.pCard {

    width: 21.25em;
    background-color: #ffffff;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.pCard:hover {

    transform: scale(1.1);

}

.pIcon {

    text-align: center;
    color: #00ffff;
    font-size: 8em;

}

.pInfo {

    text-align: center;

}

.pInfo h2 {

    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;
    color: #00ffff;

}

.contact {

    margin-top: 20em;

}

.cTitle {

    color: #00ffff;
    text-align: center;

}

.cContent {

    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cBox {

    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.cBox:hover {

    transform: scale(1.1);

}

.cImg img {

    width: 100%;
    height: 11.4em;
    transition: 0.3s ease;

}

.cImg img:hover {

    opacity: 0.9;

}

.cInfo {

    padding: 1em;

}

.cInfo p {

    font-size: 0.8em;
    color: #000;

}

.cInfo strong {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;

}

.cInfo strong a {

    text-decoration: none;
    color: #00ffff;
    transition: 0.7s ease;

}

.cInfo strong a:hover {

    transform: scale(1.1);

}


footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #ffffff;
    margin-top: 20em;
    padding: 30px 30px;

}

.fL span {

    color: #00ffff;

}

.fL a {

    text-decoration: none;

}

.fI a{

    padding-left: 20px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;

}

.fI i {

    transition: 0.7s ease;
    cursor: pointer;

}

.fI i:hover {

    transform: scale(1.1);
    color: #00ffff;

}